body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#app {
  font-family: "Graphik-Regular","Helvetica Neue",helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: $text-color;
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0 $building-unit-x2_5 $building-unit-x2_5 (-$building-unit-x2_5) $shadow-color;
  border-bottom:  solid 1px $border-color;
  background-color: $white;
  border-top-left-radius: $building-unit;
  border-top-right-radius: $building-unit;
  nav {
    text-align: center;
    padding: $building-unit-x5;
    font-size: $font-size-18;
    font-weight: 400;
    a {
      color: $black;
      text-decoration: none;
    }
    .router-link-active {
      color: $brand-color;
    }
  }
}

section {
  place-items: center;
  min-height: 100vh;
}

footer {
  bottom: 0;
  background-color: $text-color;
  color: $white;
  padding: $building-unit-x2;
}

.component-wrapper {
  background-color: $white;
  padding: $building-unit-x5;
}

.component-heading {
  font-size: $font-size-20;
  font-weight: bold;
  color: $text-color;
  text-align: center;
  background-color: #E8E8E8;
  padding: $building-unit-x5;
  border-top-left-radius: $building-unit;
  border-top-right-radius: $building-unit;
}